body {
  
}

footer {
background-color: grey;
display: block;
bottom: 0;
width: 100%;
position: fixed;

}

#URLs {
position: static;
text-align: center;
font-size: xx-large;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
}

#URLs > ul > a > li {
  text-decoration: none;
  display: inline;
  color: black;
  font-family: "monospace" "sans-serif";
  font-weight: bold;
  letter-spacing: 3px;
}

.spaninfobox {
padding: 5px;
background-color: aliceblue;
margin: auto;
display: inline-block;
border-radius: 10%;
padding: -10px 10px 10px 10px;
}

.spaninfo > h2 {
text-decoration: underline; 
text-align: center;
text-size: xx-large;
}

.spaninfo > p {
display: auto

}

a:link {
    text-decoration: none;
    color: blue;
    z-index: 1
}

a:visited {
    text-decoration: underline;
    color: #f0f;
    z-index: 1
}

a:hover {
    text-decoration: underline;
    color: pink;
    z-index: 1
}

a:active {
    text-decoration: underline;
    color: purple;
    z-index: 1
}