/* ---------------------------------------------------------Fonts */
@import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');

body {
    background-color: #A78DAC;
}

p {
    font-family: "sans-serif";
 }

#footer {
    background-color: #2F4858;
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5%;
    position: fixed;
    color: pink;
}

/* ---------------------------------------------------------Navigation */

#navbar {
    position: static;
    font-size: 1px;
    text-align: center;
    font-size: xx-large;
    margin: auto;
    margin-top: 25px;
    text-decoration: none;
    background-color: #ffc0cb;
    width: 950px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgb(224, 169, 178);
}

#navbar > ul > a > li {
    text-decoration: none;
    display: inline;
    color: #2F4858;
    font-family: "monospace" "sans-serif";
    font-weight: bold;
    letter-spacing: 3px;
    text-shadow: 1px 2px 2px rgba(81,95,120,1);
}

/* ---------------------------------------------------------Page Content */
.spanwrapper {
    text-align: center;
    padding-top: 25px;
    position: relative;
}

.spaninfobox {
    padding: 5px;
    background-color: #D4A5BE;
    margin: auto;
    left: 0em;
    right: 0em;
    display: inline-block;
    border-radius: 1%;
    padding: -10px 10px 10px 10px;
    -webkit-box-shadow: 10px 10px 11px -6px rgba(0,0,0,0.12);
    -moz-box-shadow: 10px 10px 11px -6px rgba(0,0,0,0.12);
    box-shadow: 10px 10px 11px -6px rgba(0,0,0,0.12);
    width: 100%;
    height: 100%;
    max-height: 350px;
}

.infowrapper {
    padding: 5px;
    margin: auto;
    left: 0em;
    right: 0em;
    display: inline-block;
    border-radius: 1%;
    padding: -10px 10px 10px 10px;
    max-width: 500px;
}

.spaninfobox > h2 {
    text-decoration: underline; 
    text-align: center;
    font-size: large;
}

.spaninfobox > p {
    display: auto;
    font-size: small;
}

.infoimg img {
    width: 100%;
    height: 100%;

}

/* ---------------------------------------------------------Buttons */

.greybtn {
    display: inline-block;
}

.greybtn p {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    color: black;
    margin: auto;
    width: 144px;
    transition-duration: .5s;
}

.greybtn p:hover {
    background-color: pink;
    outline-width: 1px;
    outline-offset: 1px;
    outline-style: auto;
    outline-color: black;
    transition-duration: .5s;
}

.ico {
    color: rgb(161, 161, 161);
    transition-duration: .5s;
    text-align: center;
}

.fa {
  font-family: 'FontAwesome' !important; 
}

.ico:hover {
    color: pink;
    transition-duration: .5s;
    text-shadow: none;
}

/* ---------------------------------------------------------Useful things? */

.absolute {
    position: fixed;
    float: none;
}

/* ---------------------------------------------------------Links */

#navbar>ul>a>li:hover {
    text-shadow: 2px 3px 2px #2F4858;;
    color: rgb(88, 140, 173);;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-shadow: 2px 3px 2px white;
}

a:active {
    background-color: #dd9933
}


.portfolio:hover .dropdown {
    opacity: 0;
}

